doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Estudo de pug
  body
    h1 Ola mundo
    //- Para criamos uma linha precisamos colocar um ponto depois do p e indentar
    //- de forma correta
    p.
        Este é um paragráfo e nós estamos identendo ele com o ponto . por que
        não tem nenhuma outra tag próxima
    ul
      li
        | Quando o texto é muito grande nós temos que usar esse marcação |
        | para conseguir dar a quebra de linha caso venha uma tag
        | logo depois
        a(href="")  Link

      li Item 2
      li Item 3