<!DOCTYPE html>

include includes/head.pug

body
    a(href='google.com') carro
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, est facere cumque reprehenderit quo laboriosam ducimus minus dignissimos aspernatur, esse asperiores magnam officiis ullam, nostrum pariatur distinctio iste sapiente architecto.
    p teste de casa

